@model LibraryModel.UserModel
@{
                /**/

                ViewBag.Title = "User_Entry";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }

        input[type=checkbox]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            border: 2px solid #555555;
            border-radius: 3px;
            background-color: white;
        }

        input[type=checkbox]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2px;
            left: 6px;
        }
</style>

@using (Html.BeginForm("M_UserSave", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
<div class="container-fluid" id="content_zip">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-xl-3 col-md-3" style="width:17%;">
                <label for="MemberID">UserID:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-id-card-alt"></i></span>
                    </div>
                    @Html.TextBoxFor(um => um.UserID, new
               {
                   @class = "form-control input-sm",
                   @tabindex = "1",
                   @id = "txtUserID",
                   @autofocus = "autofocus",
                   maxlength = "10",

               })
                </div>
            </div>
            <div class="form-group col-xl-3 col-md-3" style="width:17%;">
                <label for="MemberID">UserName:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-signature"></i></span>
                    </div>
                    @Html.TextBoxFor(um => um.UserName, new
               {
                   @class = "form-control input-sm",
                   @tabindex = "1",
                   @id = "txtUserName",
                   @autofocus = "autofocus",
                   maxlength = "100",


               })
                </div>
            </div>

            <div class="form-group col-xl-3 col-md-3" style="width:17%;">
                <label for="MemberID">Password:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-book"></i></span>
                    </div>
                    @Html.TextBoxFor(um => um.Password, new
               {
                   @class = "form-control input-sm",
                   @tabindex = "1",
                   @id = "txtPassword",
                   @autofocus = "autofocus",
                   maxlength = "100",


               })
                </div>
            </div>
        </div>
        <div class="dynamcdiv">
            <div class="form-row dynamicAtt">

            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 text-center">
            <div class="card border-bottom-success shadow h-100">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                        <button type="submit" id="btnSave" class="btn btn-success col-xl-2" tabindex="38"><i class="fa fa-save"></i>&nbsp; Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var sid = '@ViewBag.Userid'; 
            if (sid == null || sid == "") {
                 BindM_View(); 
            }
            else {

            }
        });

        function BindM_View() {
        
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_MViewBind", "User")',
                datatype: 'json',
                success: function (json) {
                    FillMenu(json);
                }
            });
        }

        function FillMenu(json) {
            $(".dynamicAtt").remove();
            var maindiv = $(".dynamcdiv");
            var newdiv = document.createElement('div');
            newdiv.className = 'form-row dynamicAtt';
            $(maindiv).append(newdiv);
            alert(json);
            var x;
            //if (json[0].Total > 0)
            if (json[0].Total > 0) {

                var wrapper = $(".dynamicAtt");
                $(wrapper).append(' <table id="content" class="hrtable">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>Menu ID</th>' +
                    '<th>Menu</th>' +
                    '<th>Show Menu<input type="checkbox" id="chkall_ShowView"></th>' +
                    '<th>Read Only<input type="checkbox" id="chkall_ReadOnly"></th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>' +
                    '</tbody>' +
                    '</table>');

                for (x = 1; x <= jsonjson[0].Total; x++) {

                    var ViewID = '<input type="text" style="border-style: hidden;" maxlength="4" size="4" readonly id="UserlistModel_' + (x - 1) + '__ViewID" name="UserlistModel[' + (x - 1) + '].ViewID">';

                    var ShowView = '<input type="checkbox" id="UserlistModel_' + (x - 1) + '__ShowView" name="UserlistModel[' + (x - 1) + '].ShowView">';

                    var IsReadOnly = '<input type="checkbox" id="UserlistModel_' + (x - 1) + '__IsReadOnly" name="UserlistModel[' + (x - 1) + '].IsReadOnly">';

                    $("#content > tbody").append(' <tr>' +
                        ' <td>' + ViewID + '</td>' +
                        ' <td>' + json[x - 1].ViewName + ' </td>' +
                        ' <td>' + ShowView + '</td>' +
                        ' <td>' + IsReadOnly + '</td >' +
                        ' </tr>');
                    $('#UserlistModel_' + (x - 1) + '__ViewID').val(json[x - 1].ViewID);

                    if (json[x - 1].ShowView == true) {
                        $('#UserlistModel_' + (x - 1) + '__ShowView').val(true);
                        $('#UserlistModel_' + (x - 1) + '__ShowView').prop('checked', true);

                    }
                    if (json[x - 1].IsReadOnly == true) {
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(true);
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').prop('checked', true);
                    }

                    if (x % 2 == 0) {
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                    }
                    else {
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                    }

                    if (json[x - 1].ShowView == true || json[x - 1].IsReadOnly == true) {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }

                    if (json[x - 1].ShowView == true && json[x - 1].IsReadOnly == true) {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#ffffb3");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                    }

                    //checkshowview(x);
                    //checkreadonly(x);
                }
                //checkAllShowView(json[0].Total);
                //checkAllReadOnly(json[0].Total);
            }
        }

        
    </script>
    }


