@model LibraryModel.RegisterModel
@{
    ViewBag.Title = "Register Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("~/Views/Shared/MessageView.cshtml");
}
<style>
    .imgcss {
        max-height: 130px;
        max-width: 130px;
        width: auto;
        height: auto;
        padding-left: 20px;
    }
</style>

@using (Html.BeginForm("Member_Save", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
<div class="container-fluid" id="content_zip">

    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
            <div class="card border-left-info shadow">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-xl-2 col-md-2">
                            <div style="width:17%;">
                                <img id="imgpreview" onclick="$('#imgdata').click();" src="../../Photo/@(Model.Photo)" class="imgcss" style="margin-left: -7px;">
                                <input type="file" name="imgdata" id="imgdata" onchange="showpreview(this)" style="visibility:hidden;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-2 col-md-2" style="width:17%;">
                            <label for="MemberID">MemberID:</label><label style="color:red;">&nbsp;*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-id-card-alt"></i></span>
                                </div>
                                @Html.TextBoxFor(rm => rm.MemberID, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "1",
                               @required = "required",
                               @id = "txtMemberID",
                               @autofocus = "autofocus",
                               maxlength = "10",


                           })
                            </div>
                        </div>

                        <div class="form-group col-xl-2 col-md-2">
                            <label for="MemberName">MemberName:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-signature"></i></span>
                                </div>
                                @Html.TextBoxFor(rm => rm.MemberName, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "2",

                               @id = "txtMemberName",
                               @autofocus = "autofocus",
                               maxlength = "100",

                           })
                            </div>
                        </div>

                        <div class="form-group col-xl-2 col-md-2">
                            <label for="MemberPassword">MemberPassword:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-key"></i></span>
                                </div>
                                @Html.TextBoxFor(rm => rm.MemberPassword, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "3",

                               @id = "txtPwd",
                               @autofocus = "autofocus",
                               maxlength = "100",
                               @type = "password",

                           })
                            </div>
                        </div>

                        <div class="form-group col-xl-2 col-md-2">
                            <label for="ContactNo">ContactNo:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-success" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                                </div>
                                @Html.TextBoxFor(rm => rm.ContactNo, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "3",

                               @id = "txtno",
                               @autofocus = "autofocus",
                               maxlength = "100",


                           })
                            </div>
                        </div>

                        <div class="form-group col-xl-2 col-md-2">
                            <label for="Address">Address:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                                </div>
                                @Html.TextBoxFor(rm => rm.Address, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "3",

                               @id = "txtaddress",
                               @autofocus = "autofocus",
                               maxlength = "100",


                           })
                            </div>
                        </div>
                        <div class="form-group col-xl-2 col-md-4">
                            <label for="JoinDate">Join Date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                                </div>

                                @Html.TextBoxFor(rm => rm.JoinDate, "{0:dd-MM-yyyy}", new
                           {
                               @class = "form-control input-sm",
                               @type = "date",
                               placeHolder = "dd/MM/yyyy",
                               @tabindex = "5",
                               @id = "txtJoinDate",
                               maxlength = "10",
                               max = "12-12-2100",
                               @Value = Model.JoinDate
                           })
                            </div>
                        </div>
                    </div>

                    <div class="dynamcdiv">
                        <div class="form-row dynamicAtt">

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-xl-2 col-md-4">
            <div class="input-group">
                <label for="Gender">Gender</label>
                <div class="col-md-10">
                    Male
                    @Html.RadioButtonFor(model => model.Gender, "0")
                    Female
                    @Html.RadioButtonFor(model => model.Gender, "1")
                </div>
            </div>
            </div>
            <div class="form-group col-xl-2 col-md-4">
                <div class="input-group">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @Html.CheckBoxFor(rm => rm.Graduated, new
                       {
                           @tabindex = "30"
                       })
                        </div>
                    </div>
                    <label class="form-control" for="Graduated">Graduated</label>
                </div>
            </div>
            <div class="form-group col-xl-2 col-md-4">
                <div class="input-group">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @Html.CheckBoxFor(rm => rm.Master, new
                       {
                           @tabindex = "30"
                       })
                        </div>
                    </div>
                    <label class="form-control" for="Master">Master</label>
                </div>
            </div>
            <div class="form-group col-xl-2 col-md-4">
                <div class="input-group">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @Html.CheckBoxFor(rm => rm.Student, new
                       {
                           @tabindex = "30"
                       })
                        </div>
                    </div>
                    <label class="form-control" for="Student">Student</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="card border-bottom-success shadow h-100">
                    <div class="card-body">
                        <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                            <button type="submit" id="btnSave" class="btn btn-success col-xl-2" tabindex="38"><i class="fa fa-save"></i>&nbsp; Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 ">
                <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                    <button type="submit" id="btnupdate" class="btn btn-warning col-xl-2" tabindex="38" style="width:20%;"><i class="fa fa-save"></i>&nbsp; Update</button>
                </div>
            </div>
            <div class="col-xl-6 ">
                <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                    <button type="button" id="btncancel" class="btn btn-dark col-xl-2" tabindex="38" style="width:20%;"><i class="fa fa-cross"></i>&nbsp; Cancel</button>
                </div>
            </div>
        </div>
    </div>

    }
    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function () {

            var id = '@ViewBag.MemberID';
            if (id == '' || id == null) {
                $("#btnupdate").css("display", "none");
                $("#btncancel").css("display", "none");
            }
            else {

                $('#txtMemberID').attr('readonly', true);
                $("#btnSave").css("display", "none");
                $("#btnupdate").css("display", "block");
                $("#btncancel").css("display", "block");
            }

        });


        $('#btncancel').click(function () {
             window.location.href =  '@Url.Action("Register_List", "Register")'
        });

        function showpreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgpreview').css('visibility', 'visible');
                    $('#imgpreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

        }


        </script>
    }


